* {
    margin: 0px;
    padding: 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}


.navbar {

    width: 100%;
    height: 101px;
    justify-content: space-between;
    align-items: center;
    display: flex;

    box-shadow: 0px 1px 1px 0px rgb(186, 185, 186);
}

.nav-left {
    display: flex;
    height: 101px;

}


.logo {
    height: 101px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 40px;
}

.menu {

    line-height: 1.5;
    letter-spacing: 0.1em;
    display: flex;
    font-size: 1.3rem;
    margin-left: 40px;
    height: 101px;
    justify-content: center;
    align-items: center;
    color: black;
}


.rewards {
    line-height: 1.5;
    letter-spacing: 0.1em;
    display: flex;
    font-size: 1.3rem;
    margin-left: 40px;
    height: 101px;
    justify-content: center;
    align-items: center;
    color: black;
}

.gift-cards {
    line-height: 1.5;
    letter-spacing: 0.1em;
    display: flex;
    font-size: 1.3rem;
    margin-left: 40px;
    height: 101px;
    justify-content: center;
    align-items: center;
    color: black;
}



.logo img {
    width: 100%;
    height: 49px;
    width: 48px;
}


.nav-right {
    display: flex;

}

.location {
    display: flex;
    font-size: 1.3rem;
    margin-left: 40px;
    height: 101px;
    justify-content: center;
    align-items: center;
    color: black;
}

.location img {
    max-height: 23px;
    max-width: 23px;
    margin: 14px;
}

.sign {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 45px;
    font-weight: bolder;
}

.log {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10px;
    font-weight: bolder;
}

.sign-up {
    background-color: white;
    padding: 7px 16px;
    height: 32px;
    width: 85px;
    border-radius: 29px;
}

.sign-up:hover {
    background-color: #e5e5e5;

    cursor: pointer;
}

.join-now {
    background-color: black;
    color: white;
    padding: 7px 16px;
    height: 32px;
    width: 85px;
    border-radius: 29px;
}

.join-now:hover {
    background-color: #545252;
    cursor: pointer;
}


/* ---------------------------------------------------navbar is over-----------------------------------------------------------------------------
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif; 
*/



.main-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 420px;
    margin: 38px 0px;
    flex-direction: row;
    flex-flow: wrap;
    
}


.home {
    width: 1475px;
    display: flex;
    height: 420px;
    margin: 0px 25px;
}

/*
.home2 {
    width: 1475px;
    display: flex;
    height: 625px;
    margin: 0px 25px;
}.home3 {
    width: 1475px;
    display: flex;
    height: 625px;
    margin: 0px 25px;
}.home4 {
    width: 1475px;
    display: flex;
    height: 625px;
    margin: 0px 25px;
}*/

.text {
    width: 50%;
    display: flex;
    background-color: rgba(212, 233, 226, 1);
}

.text1 {
    width: 50%;
    display: flex;
    background-color: rgba(212, 233, 226, 1);
}

.text2 {
    width: 50%;
    display: flex;
    background-color: #698382;
}

.text3 {
    width: 50%;
    display: flex;
    background-color: #f4c5a1;
}

.text4 {
    width: 50%;
    display: flex;
    background-color: #8b323e;
}

.passage-text {
    display: inline-block;
   
    font-family: 'Source Sans Pro', sans-serif;

}

.passage-text h3 {
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.passage-text p {
    margin: 35px 68px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    text-align: center;


    letter-spacing: 0.3px;
    line-height: 35px;
}

.passage-text button {
    display:block;
    
    width: 138px;
    background: none;
    border: 1px solid black;
    padding: 3px;
    height: 35px;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;

}

.passage-text button:hover {
    background-color: rgb(245, 25, 0);
    cursor: pointer;
}




.img {
    width: 50%;
    display: flex;
}

.img img {
    width: 100%;
}

#text2button:hover {
    background-color: #aa2626;
    cursor: pointer;
}

#text3button:hover {
    background-color: #ff7707;
    cursor: pointer;
    ;
}

#text4button:hover {
    background-color: #ff001e;
    cursor: pointer;
}

@media screen and (max-width:222px) {
    
}
